#map {
    height: 100%;
}

.marginBottom25 {
    margin-bottom: 2.5%;
}

.padding15px {
    padding: 15px;
}

.inlineBlock {
    display: inline-block;
}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
}

#userInput {

}