#map {
    height: 100%;
}

.marginTop10 {
    margin-top: 10%;
}

.inlineBlock {
    display: inline-block;
}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
}

#userInput {

}